<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Trabajadores</title>
    <style>
         .admin-button {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Menu Trabajadores</h1>
    <div>
        {% for rol in usuario_rol.roles.all %}
            {% for permiso in rol.permisos.all %}
                {% if permiso.codename == 'Vista autor' %}                    
                    <button>
                        Entrar como Autor
                    </button>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    <div>
        {% for rol in usuario_rol.roles.all %}
            {% for permiso in rol.permisos.all %}
                {% if permiso.codename == 'Vista editor' %}                    
                    <button>
                        Entrar como editor
                    </button>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    <div>
        {% for rol in usuario_rol.roles.all %}
            {% for permiso in rol.permisos.all %}
                {% if permiso.codename == 'Vista publicador' %}                    
                    <button>
                        Entrar como publicador
                    </button>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    <div>
        {% for rol in usuario_rol.roles.all %}
            {% for permiso in rol.permisos.all %}
                {% if permiso.codename == 'Vista administrador' %}                    
                    <button>
                        Entrar como administrador
                    </button>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    <div>
            <button class='volverbutton'>Volver al Menu Principal</button>
    </div>
</body>
</html>